.container {
width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;

}

body {
  background-color: #393E46 !important;
}

.title {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

/* img {
  width: 50%;
} */

footer {
  margin-top: 1%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn1{
padding:5px 15px 5px 15px;
   font-size:1.5rem;
    border-radius:28px;
    margin-top: 20px;
    background-color: #4ecca3;
    border-style: none;
}
.button{
  text-align: center;
  padding: 15px;

}
